.navContainer {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        margin: 0 2rem 0;

        li {
            list-style: none;
            padding: 0 1rem;

            a, span {
                text-decoration: none;
                color: #121212;
            }
        }
    }
}

.getQuoteButton {
    composes: button from global;
}