.perilItem {
    width: calc(25% - 1rem);
    margin-left: 1rem;
    margin-bottom: 1rem;
    position: relative;
    display: flex;

    &:before {
        content: '';
        padding-top: 100%;
        position: relative;
    }

    button {
        position: absolute;
        inset: 0px;
        width: 100%;
        height: 100%;
        padding: 1.25rem;
        border-radius: 0.5rem;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        align-items: flex-start;
        text-align: left;
        min-height: 3.75rem;
        background-color: rgb(255, 255, 255);
        border: 0px;
        cursor: pointer;
        transition: all 150ms ease-in-out 0s;

        &:hover {
            box-shadow: 0 0 1.2rem -0.4rem rgba(0, 0, 0, 0.4);
            transform: translateY(-2px);
        }

        &:active {
            background-color: #eeeeee;
            box-shadow: none;
        }
        
        > div {
            width: 3rem;
            height: 3rem;
            display: flex;
    
            img {
                transform: translateX(-0.625rem);
                width: 100%;
                height: 100%;
            }
        }

        h4 {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}