.perilItem {
    width: calc(25% - 1rem);
    margin-left: 1rem;
    margin-bottom: 1rem;
    position: relative;
    display: flex;

    &:before {
        content: '';
        padding-top: 100%;
        position: relative;
    }

    button {
        position: absolute;
        inset: 0px;
        width: 100%;
        height: 100%;
        padding: 1.25rem;
        border-radius: 0.5rem;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        align-items: flex-start;
        text-align: left;
        min-height: 3.75rem;
        background-color: rgb(255, 255, 255);
        border: 0px;
        cursor: pointer;
        transition: all 150ms ease-in-out 0s;

        @between-to 0 mobile {
            padding: 0;
        }

        @between-to mobile tablet {
            padding: 0.5rem;
        }

        > div {
            width: 3rem;
            height: 3rem;
            display: flex;
            transition: all ease 0.2s;
    
            img {
                transform: translateX(-0.625rem);
                width: 100%;
                height: 100%;
            }
        }

        h4 {
            font-size: 1rem;
            font-weight: 400;
            transition: all ease 0.2s;

            @between-from 0px mobile-landscape {
                display: none;
            }
        }

        p {
            display: none;
        }

        @above tablet {
            p {
                display: block;
                opacity: 0;
                margin-top: -10%;
                transition: all ease 0.2s;
                font-size: 0.7rem;
                color: #666;
            }
        }

        &:hover {
            box-shadow: 0 0 1.2rem -0.4rem rgba(0, 0, 0, 0.4);
            transform: translateY(-3px);

            @between-from medium large {
                transform: translateY(-6px);
                transform: scale(1.3);
                z-index: 4;

                > div {
                    width: 2rem;
                    height: 2rem;
                }
    
                h4 {
                    font-size: 0.7rem;
                }
    
                p {
                    margin-top: 1rem;
                    opacity: 1;
                }
            }
        }

        &:active {
            background-color: #eeeeee;
            box-shadow: none;
            transform: translateY(0px);
            transform: scale(1);
        }
    }
}