header {
    height: 5em;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    padding: 0 1.5rem;
    box-sizing: border-box;
    background-color: #ffffff;

    > div {
        flex: 1;
        display: flex;
        padding: 1rem 0;
        height: 3rem;
        justify-content: space-between;
    }

    .brand {
        display: flex;
        padding: 0.5rem 0;
    }
}