h2 {
    margin-bottom: 2rem;
}

.perilsContainer {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: selt;
    align-items: center;

    .perilsGrid {
        padding: 0 2rem;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: calc(784px + 2rem);
        box-sizing: border-box;

        @below table {
            padding: 0 1rem;
        }
    }
}