/* Font-faces */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Variables */

.light {
  --regular-font: #121212;
  --inversed-font: #ffffff;
  --page-background: #ffffff;
  --elements-background: #ffffff;
  --inveresed-element-background: #121212;
  --overlay: rgba(0, 0, 0, 0.7);
}

/* Breakpoints for media queries */

@breakpoint mobile 300px;
@breakpoint mobile-landscape 640px;
@breakpoint tablet 768px;
@breakpoint medium 1024px;
@breakpoint large 1996px;


/* Main Styles */

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
