/* Font-faces */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Variables */

.light {
  --regular-font: #121212;
  --inversed-font: #ffffff;
  --page-background: #ffffff;
  --elements-background: #ffffff;
  --inveresed-element-background: #121212;
  --overlay: rgba(0, 0, 0, 0.7);
}

/* Breakpoints for media queries */

@breakpoint mobile 300px;
@breakpoint mobile-landscape 640px;
@breakpoint tablet 768px;
@breakpoint medium 1024px;
@breakpoint large 1996px;


/* Main Styles */

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Utils */

.button {
  border: 1px solid var(--regular-font);
  border-radius: 8px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 10rem;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--regular-font);
  line-height: 1rem;
  transition: all ease 0.2s;

  &:hover {
      background: var(--regular-font);
      color: var(--inversed-font);
  }

  &[data-theme] {
    border: none;
  }

  &[data-theme="light"] {
    background-color: var(--elements-background);
    color: var(--regular-font);
  }

  &[data-theme="dark"] {
    background-color: var(--inveresed-element-background);
    color: var(--inversed-font);
  }
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}